@model IEnumerable<Services>

@{
    ViewData["Title"] = "List of Services";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3" style="max-width: 580px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-info">
                                <p class="card-text">
                                    <h5 class="card-title">Category<a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                    
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="@item.ProductPicURL" width="100%" alt="">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text"><b>LotNumber:</b>xxx</p>
                                <p class="card-text"><b>ServiceCategory:</b>xxx</p>
                                <p class="card-text"><b>Discription: </b>xxx</p>
                                <p class="card-text"><b>YearsOfExpirience: </b>1900</p>
                                <p class="card-text"><b>StartBidPrice: </b>StartBidPrice</p>
                                <p class="card-text ">
                                    <b>Status: </b>
                                    Staus Sample
                                </p>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary float-right"><i class="bi bi-eye-fill"></i> Show Details </a>
                                    <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Place Bid ($0.00)</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
